#sidebar{
    height:100vh;
    background-image: url('../../../images/sidebar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#navigationLink{
    border-radius: 20px;
    display:flex;
    align-items: center;
}
#sidebar-logo-title{
    font-size:25px;
}
#server-logo{
    height:35px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(55, 70, 75);
    }
  }