#logo{
    width:50px;
}
#logo-title{
    font-size:30px;
    font-weight: 500;
    color:#FF3997;
}
.navigation{
    text-decoration: none;
    color:#000;
    cursor:pointer;
}
.navigation:hover{
    text-decoration: none;
    color:#FF3997;
}
@media only screen and (max-width: 500px) {
    #logo-title{
        font-size: 20px;
    }
  }