.client-reviews{
    /* background-image: url('../../../images/splash.png'); */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
#clientImg{
    width:50px;
    border-radius: 50%;
    border: 3px solid gray;
}
.name-color{
    color:#F50B75 !important;
}
