.status-Done, .status-Ongoing, .status-Pending{
    color:white;
    font-weight: 700;
    padding:8px 16px;
    border-radius: 35px 35px 35px 0px;
}

.status-Ongoing{
    background-color:goldenrod;
}
.status-Pending{
    background-color:red;
}
.status-Done{
    background-color:green;
}