.App {

  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}
h3, h4, h1, h2{
  font-family:'backslash';
  font-size:2.5rem !important;
  color:#171C2A;
}
h1{
  font-size: 60px !important;
}
h2{
  font-size:40px;
}
h3{
  font-size:30px;
}
h4{
  font-size:20px
}
#btn-brand{
  border:none;
  outline:none;
  padding:12px 20px;
  border-bottom-left-radius: 20px;
  margin-top: 20px;
  background:#fff;
  color:#000;
}
.iconic{
  color:#F72E2E
}
#btn-action{
  border:2px solid #FF3997;
  padding:10px 18px;
  border-bottom-left-radius: 20px;
  color:#000;
  background:#fff;
}
#btn-action:hover{
  color:#fff;
  background: #E50646;
  border:2px solid #fff;
  transition: all 0.3s ease-in-out;
}
#btn-update{
  color:#fff;
  background: #00ABE9;
  border:2px solid #fff;
  border-radius: 35px 35px 35px 0px;
  transition: all 0.3s ease-in-out;
  padding:8px 16px;
}
#btn-delete{
  color:#fff;
  background: #E50646;
  border:2px solid #fff;
  border-radius: 35px 35px 35px 0px;
  transition: all 0.3s ease-in-out;
  padding:8px 16px;
}
#main-dashboard{
  height:100vh;
  width:100%;
}
.common-margin{
  margin:100px 0;
}
#card-image{
  height:200px;
}
ul, li{
  list-style:none;
  margin:0;
}
li{
  margin-bottom: 20px;
}
.brand-color{
  color:#F50B75;
}
.title-color{
  color:#00ABE9;
}
td{
  padding:10px 0 !important;
}
.table td, .table th {
  vertical-align: middle !important;
}
.carousel-indicators li{
  background-color: #F50B75 !important;
  align-items: center !important;
}
.carousel-indicators{
  bottom:-30px !important;
}
