

#input-service, #input-description, #input-price {
    padding: 20px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid gainsboro;
}

#input-file {
    display: none;
}

#add-book {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #fff;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

#file-label {
    padding: 12px 20px;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
    border: 2px solid #FF3997;
}

#file-label:hover {
    color: #fff;
    background-color: #FF3997;
    transition: all 0.3s ease-in-out;
}